$color_1: #fec5bb;
$color_2: #fcd5ce;
$color_3: #fae1dd;
$color_4: #f8edeb;
$color_5: #e8e8e4;
$color_6: #d8e2dc;
$color_7: #ece4db;
$color_8: #ffe5d9;
$color_9: #ffd7ba;
$color_10: #fec89a;
$color_11: #3d405b;
$black: #08090A;